{% extends 'modmain/base.html' %}
{% load static %}
{% block content %}

<section id="tournament_details">

<div class="tournament-detail-wrapper container-fluid m-0 p-0">
 <section class="tournament-detail-banner-section" style="padding: unset">
<div style="max-height:340px">
  <img src="{{object.image.url}}" class="img-fluid" alt="Responsive image" width="100%" height="50%" >
</div>

 </section>

 <section id="contact">
<header class="section-header">
          <h3 class="section-title"><span style="color:white;font-weight:790" id="mob_title">Tournaments</span></h3>
        </header>
<div class="container-fluid" >

  <div class="row join_row" >
{% for li in tlist %}




 <div class="col-md-3 join_card" >
    <div class="card  mb-3  join_card_inside" >
  <div class="card-header bg-dark rounded-top">
  <div class="row inside_row">
    <div class="col-md-5 ">
    <span style=" font-size: 13px;color:white;font-weight:bold">{{li.game_id}}</span>
    </div>
    <div class="col-md-7 game_count" style="text-align:right"><i class="icofont-game " style="color: red"></i><span style="color: white;font-weight:bold"> IND</span></div>
    
  </div></div>
 
  <div class="card-body " style="padding: unset">
  
    <img class="card-img" src="{{li.image.url}}" alt="Card image cap" style="max-height: 200px;min-height:200px;">
  </div>
  <div class="card-footer bg-dark rounded-bottom">
    <div class="row platform">
      <div class="col-md-7 platform_name"><span style="color: #C0C0C0;font-weight:bold;font-size:10px">{{li.platform}}</span></div>
       <div class="col-md-5 vs" style="text-align:right"><span style="color: #C0C0C0;font-weight:bold;font-size:10px">{{li.gametype}}</span></div>
      
    </div>
    <div class="row mt-2 mb-2">
      <div class="col-md-12" style="max-height: 20px;min-height:20px;"><span style="color: white;font-weight:bold;">{{li.name}}</span></div>
    </div>
    <div class="row mt-3 pt-3">
      <div class="col-md-8"><span style="color: #C0C0C0;font-weight:bold;font-size:10px">{{li.date_of_tournament}}</span></div>
       
         <div class="col-md-4 join_button" style="text-align:right"><a href="{% url 'tournament_details' li.id %}" style="font-weight: bold" class="btn btn-sm btn-primary">JOIN</a></div>
    </div>
  </div>
</div>
</div>

   
        
{% endfor %}
       </div>
</div>
</section>



{% endblock content %} 