{% extends 'modmain/base.html' %}
{% load static %}
{% load notifications_tags %}
{% block content %}

 <section id="match">

    
        <header class="section-header">
          <h3 style="font-family:Anurati-Regular;letter-spacing: 5px;color: white" id="mob_title">Notifications</h3>
        </header>
     
    <div class="container-fluid">
    
     {% for li  in data  %}
    
      <a href="{% url 'tournament_details' li.id %}"> 
     <div class="schedule_match match  p-3 mb-4 container" style="border-style: solid;border-color: white;">
    
     <div class="row">
       <div class="col-lg-3 nk mb-1">{{li.actor}}</div>
     <div class="col-lg-5 nm mb-1" style="color:white">{{li.verb}}</div>
     <div class="col-lg-3 nn mb-1" style="color:white">{{li.timestamp}}</div>
     {% comment %} <div class="col-lg-2 nj mb-1 ">{{li.gametype}}</div>   {% endcomment %}
    
    
     </div>
     </div>
     </a>
{% endfor %}

     

 

    </section>




{% endblock content %}