{% extends 'modmain/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}


{% if user.profile.phone_number is null  %}



{% endif %}

<section id="profile_sec">

<div class="container-fluid p-0 ">
    <div class="card  well  rounded" style="  box-shadow: 0 10px 10px rgba(0,0,0,0.22), 0 10px 10px rgba(0,0,0,0.22);margin:20px;background-color:transparent;border: 2px solid white;">
        <center style="margin-top:10px">
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img class="rounded-circle z-depth-2" src="{{ user.profile.image.url}}" name="aboutme" width="140" height="140" class="img-circle" ></a>
        <div class="mt-3"><h5 style="font-weight:bold ; text-transform: uppercase;color:white;">{{user.username}}</h5></div>
        <div><i class="fa fa-car" style="font-weight:bold ;color:white;">&nbsp;&nbsp;<h7 style="font-weight:bold ;color:white;">{{user.profile.spoken_language}}</h7></i></div>
         <div><i class="fa fa-at fa-bold" style="font-weight:bold;color:white;">&nbsp;&nbsp;<h7 style="font-weight:bold ;">{{user.email}}</h7></i></div>
          <div><i class="fa fa-phone" style="font-weight:bold ;color:white;">&nbsp;&nbsp;<h7 style="font-weight:bold ;color:white;">{{user.profile.phone_number}}</h7></i></div>
       
        <i class="fa fa-location"></i>
		</center>
    <a href="{% url 'editprofiledetails' %}">  <button type="button" class="btn btn-info px-3 " style="width: 45px;position: absolute;right: 10px;top: 5px;"><i class="fa fa-edit" aria-hidden="true"></i></button></a>

     <div class="container" style="margin: auto;"  >
     <div class="row bg-danger  p-3 mb-5 bg-dark  profile-row-div container "  style="   margin: auto; box-shadow: 0 10px 10px rgba(0,0,0,0.22), 0 10px 10px rgba(0,0,0,0.22);border: 2px solid white;">
     <div class="col-md-1"></div>
     <div class="col-md-2 mb-1"> <a href="{% url 'user_wins' %}">   <div  class="btn  btn-block btn-info  profile-btn"><span style="  font-weight: bold;color:white">Wins</span>  <br><span style="font-weight: unset;">{{user.profile.total_no_of_wins}}</span> </div></a></div>
      <div class="col-md-2 mb-1"> <a href="{% url 'wallet' %}"> <div  class="btn  btn-block btn-info profile-btn "><span style="  font-weight: bold;color:white">Wallet</span><br><span>{{user.profile.wallet}}</span></div></a></div>
       <div class="col-md-2 mb-1"><div  class="btn  btn-block btn-info  profile-btn"><span style="  font-weight: bold;color:whites">Level</span><br><span>{{user.profile.level}}</span></div></div>
       <div class="col-md-2 mb-1"> <a href="{% url 'user_tournaments' %}"><div  class="btn  btn-block btn-info  profile-btn"><span style="  font-weight: bold;color:whites">Tournaments</span><br><span>{{tot_match}}</span></div></a></div>
    <div class="col-md-2 mb-1"> <a href="{% url 'Teams' %}"><div  class="btn  btn-block btn-info  profile-btn"><span style="  font-weight: bold;color:whites">Teams</span><br><span>{{tot_teams}}</span></div></a></div>

     </div>
     

     </div>  
 

    </div>
    <!-- Modal -->
   
</div>
 

</section>





{% endblock content %}